doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    meta(charset='UTF-8')
    title Timestamp Microservice
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    .col-xs-12.col-sm-10.col-sm-offset-1.container.main
      .col-xs-12.col-sm-6.left
        h1.header.col-xs-12 API Projects: Request Header Parser Microservice
        p
          | By Alejandro Chaves | 
          a(href='https://github.com/alejandrochvs/request-header-parser-microservice') Project GitHub
        section
          h2 Instructions
          ol
            li I can get the IP address, language and operating system for my browser.
      .col-xs-12.col-sm-6.right
        h2 Test it yourself:
        |  
        button#Go.btn.btn-success Go
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=', crossorigin='anonymous')
    script(src='./script/main.js')
